
header h1 {
  font-family: "Playwrite AU SA", sans-serif;
  font-size: 55px;
  font-weight: 600;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4baaa3; /* Verde océano */
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 15px;
}

/*
.hero {
  background-color: rgba(198, 241, 231, 0.1); // Fondo menta 
  background-image: url(/public/aguaclara.avif); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 12px;
  position: relative;
  margin-top: 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(198, 241, 231, 0.1);
  z-index: 0;
  border-radius: 12px;
}

.hero h2 {
  font-size: 2rem;
  color: #4baaa3; // Verde océano 
  margin-bottom: 10px;
  z-index: 1;
}

.hero p {
  font-size: 1.2rem;
  color: #000;
  z-index: 1;
  position: relative;
}
*/


#destinos-internacionales h2,
#destinos-nacionales h2 {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-block;
  margin-left: 30px;
}

/* Cards se reutiliza en destinations */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
  list-style: none;
}

.card {
  display: grid;
  align-content: stretch;
  justify-content: space-evenly;
  background-color: rgba(180, 255, 233, 0.8);
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
  box-shadow: 0 25px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 8px;
  color: #007f73;
  font-size: 1.2rem;
  font-weight: bold;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

#office-info {
  text-align: center;
  margin: 40px 0;
}

#office-info .info-card {
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  line-height: 1.4;
}

#office-info h2 {
  font-size: 1.9rem;
  margin-bottom: 16px;
  color: #000001;
}

#office-info .info-card p {
  margin: 8px 0;
  font-size: 0.99rem;
  color: #000001;
}
