.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #00a2a2;
  color: white;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 35px;
}

.navbar ul li {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar ul li i {
  margin-right: 8px;
  font-size: 1.1em;
}

.navbar a {
  text-decoration: none;
  color: #014e47;
  font-weight: 600;
}