.page-container {
  max-width: 1000px; /* Ancho máximo del contenedor como regla general */
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("/src/assets/backgrounds/main.jpg"); /* Imagen de fondo global */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #303030;
  padding: 20px;
  margin: 0;
}